/* CUSTOM FONT FACE DECLARATION  */

@font-face {
  font-family: "Bebas";
  src: url("Bebasfont/bebas-neue.regular.woff") format("woff2"),
       url("Bebasfont/bebas-neue.regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperus";
  src: url("Paperusfont/paperus.regular.woff") format("woff2"),
       url("Paperusfont/paperus.regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* BROWSER ADJUSTMENTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* REGULAR ARIAL TEXT */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* CUSTOM BEBAS FONT */
h1 {
  font-family: "Bebas", Arial, sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #29409a;
}

/* BOLDED ARIAL HEADERS */
h2 {
  font-size: 16px;      
  font-weight: 00;     
  line-height: 1.6; 
  margin-top: 20px;    
  margin-bottom: 62x;
}

/* SMALL MARGIN REGULAR ARIAL TEXT */
h3 {
  font-size: 16px;      
  font-weight: 400;    
  line-height: 1.6;   
  margin: 0;
}

/* THIN ITALICIZED ARIAL TEXT */
h4 {
  font-size: 16px;      
  font-weight: 300;   
  font-style: italic;   
  line-height: 1.6;   
  margin: 0;
}

/* REGULAR NORMAL ARIAL TEXT */
p {
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 20px;
}

/* BULLETED ARIAL TEXTIN LISTS */
ul {
  padding-left: 20px;
  line-height: 1.6;
  margin: 0;
}

/* DIVIDER LINE SEPARATOR */
.divider {
  border: none;
  border-top: 1px solid #9e9d9d;
  margin-top: 25px;
  margin-bottom: 20px;
  width: 100%;
}

/* TOP BAR  */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px solid #cecece;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.logo {
  font-family: "Paperus", "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 25px;
  color: #2e3c76;
}

/* CONTACT BUTTON */

.contact-button {
  border: 1px solid #000000;
  padding: 7px 14px;
  border-radius: 0;
  text-decoration: none;
  color: #333;
  transition: all 0.5s ease;
}

.contact-button:hover {
  background-color: #2f3347;
  color: white;
}

/* BROWSER FORMATTING AND PADDING */
main {
  flex: 1;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  text-align: left;
}

/* GRADIENT PAGE BACKGROUNDS */
.gradienthome, .gradientstudio, .gradientcontact, .gradientprojects, .gradientresume {
  display: block;
  margin: 0;
  width: 100vw;
  height: auto;
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -70px; /* cancels out main's padding-top */
}

/* REGULAR IMAGES */
.roman, .lotus, .dakota, .neck, .diamond, .hand, 
.drape, .icarus, .mountain, .main-photo, .mario, .franbealor, 
.fssa, .group, .Etsy, .Reviews, 
.Medic, .NewMedic, .KPI, .Stakeholder, .User, .Empathy, .Mike
{
  display: block;
  margin: 40px 0 40px 0;
  width: 400px;
  border-radius: 0;
  object-fit: cover;
}

/* CHICKEN VIDEO */
.ChickenVideo
{
  max-width: 400px;   
  width: 100%;        
  margin: 40px 0 40px 0;
  border-radius: 20px;  

}

/* LINKED IN BUTTON */

.linkedin-button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid black;    
  border-radius: 0;            
  font-weight: normal;        
  text-decoration: none;      
  color: black;
  transition: all 0.5s ease;
}

.linkedin-button:hover {
  background-color: #363853; /* darker blue on hover */
  color: white;
}


/* BOTTOM BAR  */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  padding: 22px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  transition: color 0.3s ease;
}